* {
  color: #404040;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav {
  background-color: rgb(245, 235, 223);
  padding: 10px;
  text-decoration: none;
  text-align: left;
}

tr {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.link {
  text-decoration: none;
  color: #404040;
  margin-inline: 5px;
}

h1 {
  text-align: left;
  font-weight: 300;
  font-size: 40px;
}

td {
  padding: 15px;
}
